* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    width: calc(100% - 40px); /* Make it a bit wider */
    max-width: 800px; /* Prevents it from becoming too wide on larger screens */
    border-radius: 10px; /* Rounds the corners */
    display: block;
    background-color: white;
}
.container {
    text-align: center;
}
#usd-amount {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}
#convert-btn, #toggle-currency {
    padding: 10px 20px;
    margin-top: 10px;
}
#toggle-currency {
    display: block;
    margin: 20px auto 30px; /* Increased bottom margin for space before the chart */
    width: fit-content;
}
#result {
    margin-top: 20px;
}
canvas#exchangeRateChart {
    margin-top: 20px; /* Ensures there's space above the chart, adjust as needed */
}
.disclaimer {
    width: 60%;
    margin: 10vh auto 0 auto; /* Adjust top margin to center between shadow box and bottom of page */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
    color: lightgray; /* Adjust as needed to get the desired shade of gray */
    font-size: 0.75rem; /* Adjust size as needed */
}
