* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
#usd-amount {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}
#convert-btn {
    padding: 10px 20px;
    margin-top: 10px;
}
#result {
    margin-top: 20px;
}

#toggle-currency {
    display: block; /* Ensures the button is a block-level element */
    margin: 20px auto; /* Adds top and bottom margin for spacing, and auto margin for horizontal centering */
    padding: 10px 20px; /* Matches the padding of the convert button for consistency */
    width: fit-content; /* This will make the width of the button fit its content, aiding in centering */
}
